<% content_for :title do %>About<% end %>
<h3>About Foobar Kadiagan</h3>
<p>I was born in the wagon of a traveling show. My momma had to dance for the money they owed. Grandpa do whatever he could. Preach a little gospel. Sell a couple bottles of Doctor Good.</p>
<p>My favorite quote is:</p>
<p>There are no bones in tuna.</p>